In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("churn2.csv")
df
#خواندن فایل

,0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,2,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,4,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,5,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,7039,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7028,7040,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7029,7041,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7030,7042,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7031,7043,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   0                 7032 non-null   int64
 1   customerID        7032 non-null   object
 2   gender            7032 non-null   object
 3   SeniorCitizen     7032 non-null   int64
 4   Partner           7032 non-null   object
 5   Dependents        7032 non-null   object
 6   tenure            7032 non-null   int64
 7   PhoneService      7032 non-null   object
 8   MultipleLines     7032 non-null   object
 9   InternetService   7032 non-null   object
 10  OnlineSecurity    7032 non-null   object
 11  OnlineBackup      7032 non-null   object
 12  DeviceProtection  7032 non-null   object
 13  TechSupport       7032 non-null   object
 14  StreamingTV       7032 non-null   object
 15  StreamingMovies   7032 non-null   object
 16  Contract          7032 non-null   object
 17  PaperlessBilling  7032 non-null   object
 18  PaymentMethod     7032 non-null   object
 19  MonthlyCharges    7032 non-null   float64
 20  TotalCharges      7032 non-null   float64
 21  Churn             7032 non-null   object
dtypes: float64(2), int64(3), object(17)
memory usage: 1.2+ MB

In [3]:
df.isnull().sum()
#چک کردن داده های خالی

0                   0
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [4]:
df.drop("0" , axis=1 , inplace=True)
df.drop("customerID" , axis=1 , inplace=True)
df.drop("tenure" , axis=1 , inplace=True)
df.drop("PaymentMethod" , axis=1 , inplace=True)
df.drop("PaperlessBilling" , axis=1 , inplace=True)
#تشخیص و حذف کردن ستون های غیر ضروری
df

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,56.95,1889.50,No
2,Male,0,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,Male,0,Yes,Yes,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.50,No
7028,Female,0,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.90,No
7029,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7030,Male,1,Yes,No,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,74.40,306.60,Yes
7031,Male,0,No,No,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.50,No

In [5]:
df.loc[df["gender"] == "Male" , "gender"]=1
df.loc[df["gender"] == "Female" , "gender"]=0
#تبدیل داده غیر عددی به عددی 
df

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,0,0,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,1,0,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,56.95,1889.50,No
2,1,0,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,1,0,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,0,0,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,0,Yes,Yes,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.50,No
7028,0,0,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.90,No
7029,0,0,Yes,Yes,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7030,1,1,Yes,No,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,74.40,306.60,Yes
7031,1,0,No,No,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.50,No

In [6]:
df["Partner"].value_counts()
#چک کردن برای داده های نویز

No     3639
Yes    3393
Name: Partner, dtype: int64

In [7]:
df["Dependents"].value_counts()
#چک کردن برای داده های نویز

No     4933
Yes    2099
Name: Dependents, dtype: int64

In [8]:
df["PhoneService"].value_counts()
#چک کردن برای داده های نویز

Yes    6352
No      680
Name: PhoneService, dtype: int64

In [9]:
df.loc[df["Partner"] == "Yes" , "Partner"]=1
df.loc[df["Partner"] == "No" , "Partner"]=0
df
#تبدیل داده غیر عددی به عددی

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,0,0,1,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,1,0,0,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,56.95,1889.50,No
2,1,0,0,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,1,0,0,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,0,0,0,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,0,1,Yes,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.50,No
7028,0,0,1,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.90,No
7029,0,0,1,Yes,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7030,1,1,1,No,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,74.40,306.60,Yes
7031,1,0,0,No,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.50,No

In [10]:
df.loc[df["Dependents"] == "Yes" , "Dependents"]=1
df.loc[df["Dependents"] == "No" , "Dependents"]=0
df
#تبدیل داده غیر عددی به عددی

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,1,0,0,0,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,56.95,1889.50,No
2,1,0,0,0,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,1,0,0,0,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,0,0,0,0,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,0,1,1,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.50,No
7028,0,0,1,1,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.90,No
7029,0,0,1,1,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7030,1,1,1,0,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,74.40,306.60,Yes
7031,1,0,0,0,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.50,No

In [11]:
df.loc[df["PhoneService"] == "Yes" , "PhoneService"]=1
df.loc[df["PhoneService"] == "No" , "PhoneService"]=0
df
#تبدیل داده غیر عددی به عددی

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,0,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,1,0,0,0,1,No,DSL,Yes,No,Yes,No,No,No,One year,56.95,1889.50,No
2,1,0,0,0,1,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,1,0,0,0,0,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,0,0,0,0,1,No,Fiber optic,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,0,1,1,1,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.50,No
7028,0,0,1,1,1,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.90,No
7029,0,0,1,1,0,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7030,1,1,1,0,1,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,74.40,306.60,Yes
7031,1,0,0,0,1,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.50,No

In [12]:
df["MultipleLines"].value_counts()
#چک کردن برای تنوع داده ها

No                  3385
Yes                 2967
No phone service     680
Name: MultipleLines, dtype: int64

In [13]:
df.loc[df["MultipleLines"] == "Yes", "MLyes"] = 1
df.loc[df["MultipleLines"] == "No", "MLno"] = 1
df.loc[df["MultipleLines"] == "No phone service", "MLno_phone"] = 1
df
#تبدیل داده غیر عددی به عددی

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn,MLyes,MLno,MLno_phone
0,0,0,1,0,0,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No,NaN,NaN,1.0
1,1,0,0,0,1,No,DSL,Yes,No,Yes,No,No,No,One year,56.95,1889.50,No,NaN,1.0,NaN
2,1,0,0,0,1,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes,NaN,1.0,NaN
3,1,0,0,0,0,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No,NaN,NaN,1.0
4,0,0,0,0,1,No,Fiber optic,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,0,1,1,1,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.50,No,1.0,NaN,NaN
7028,0,0,1,1,1,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.90,No,1.0,NaN,NaN
7029,0,0,1,1,0,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No,NaN,NaN,1.0
7030,1,1,1,0,1,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,74.40,306.60,Yes,1.0,NaN,NaN
7031,1,0,0,0,1,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.50,No,NaN,1.0,NaN

In [14]:
df['MLyes'].fillna(0,inplace=True)
df['MLno'].fillna(0,inplace=True)
df['MLno_phone'].fillna(0,inplace=True)
df

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn,MLyes,MLno,MLno_phone
0,0,0,1,0,0,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No,0.0,0.0,1.0
1,1,0,0,0,1,No,DSL,Yes,No,Yes,No,No,No,One year,56.95,1889.50,No,0.0,1.0,0.0
2,1,0,0,0,1,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes,0.0,1.0,0.0
3,1,0,0,0,0,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No,0.0,0.0,1.0
4,0,0,0,0,1,No,Fiber optic,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,0,1,1,1,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.50,No,1.0,0.0,0.0
7028,0,0,1,1,1,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.90,No,1.0,0.0,0.0
7029,0,0,1,1,0,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No,0.0,0.0,1.0
7030,1,1,1,0,1,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,74.40,306.60,Yes,1.0,0.0,0.0
7031,1,0,0,0,1,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.50,No,0.0,1.0,0.0

In [15]:
df.drop("MultipleLines" , axis=1 , inplace=True)
df

,gender,SeniorCitizen,Partner,Dependents,PhoneService,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn,MLyes,MLno,MLno_phone
0,0,0,1,0,0,DSL,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No,0.0,0.0,1.0
1,1,0,0,0,1,DSL,Yes,No,Yes,No,No,No,One year,56.95,1889.50,No,0.0,1.0,0.0
2,1,0,0,0,1,DSL,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes,0.0,1.0,0.0
3,1,0,0,0,0,DSL,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No,0.0,0.0,1.0
4,0,0,0,0,1,Fiber optic,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,0,1,1,1,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.50,No,1.0,0.0,0.0
7028,0,0,1,1,1,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.90,No,1.0,0.0,0.0
7029,0,0,1,1,0,DSL,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No,0.0,0.0,1.0
7030,1,1,1,0,1,Fiber optic,No,No,No,No,No,No,Month-to-month,74.40,306.60,Yes,1.0,0.0,0.0
7031,1,0,0,0,1,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.50,No,0.0,1.0,0.0

In [16]:
df["InternetService"].value_counts()
#چک کردن برای تنوع داده ها

Fiber optic    3096
DSL            2416
No             1520
Name: InternetService, dtype: int64

In [17]:
df.loc[df["InternetService"] == "Fiber optic", "ISfiber"] = 1
df.loc[df["InternetService"] == "DSL", "ISd"] = 1
df.loc[df["InternetService"] == "No", "ISno"] = 1

df['ISd'].fillna(0,inplace=True)
df['ISno'].fillna(0,inplace=True)
df['ISfiber'].fillna(0,inplace=True)
df
#تبدیل داده غیر عددی به عددی

,gender,SeniorCitizen,Partner,Dependents,PhoneService,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,Contract,MonthlyCharges,TotalCharges,Churn,MLyes,MLno,MLno_phone,ISfiber,ISd,ISno
0,0,0,1,0,0,DSL,No,Yes,No,No,...,Month-to-month,29.85,29.85,No,0.0,0.0,1.0,0.0,1.0,0.0
1,1,0,0,0,1,DSL,Yes,No,Yes,No,...,One year,56.95,1889.50,No,0.0,1.0,0.0,0.0,1.0,0.0
2,1,0,0,0,1,DSL,Yes,Yes,No,No,...,Month-to-month,53.85,108.15,Yes,0.0,1.0,0.0,0.0,1.0,0.0
3,1,0,0,0,0,DSL,Yes,No,Yes,Yes,...,One year,42.30,1840.75,No,0.0,0.0,1.0,0.0,1.0,0.0
4,0,0,0,0,1,Fiber optic,No,No,No,No,...,Month-to-month,70.70,151.65,Yes,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,0,1,1,1,DSL,Yes,No,Yes,Yes,...,One year,84.80,1990.50,No,1.0,0.0,0.0,0.0,1.0,0.0
7028,0,0,1,1,1,Fiber optic,No,Yes,Yes,No,...,One year,103.20,7362.90,No,1.0,0.0,0.0,1.0,0.0,0.0
7029,0,0,1,1,0,DSL,Yes,No,No,No,...,Month-to-month,29.60,346.45,No,0.0,0.0,1.0,0.0,1.0,0.0
7030,1,1,1,0,1,Fiber optic,No,No,No,No,...,Month-to-month,74.40,306.60,Yes,1.0,0.0,0.0,1.0,0.0,0.0
7031,1,0,0,0,1,Fiber optic,Yes,No,Yes,Yes,...,Two year,105.65,6844.50,No,0.0,1.0,0.0,1.0,0.0,0.0

In [18]:
df.drop("InternetService" , axis=1 , inplace=True)
df

,gender,SeniorCitizen,Partner,Dependents,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,...,Contract,MonthlyCharges,TotalCharges,Churn,MLyes,MLno,MLno_phone,ISfiber,ISd,ISno
0,0,0,1,0,0,No,Yes,No,No,No,...,Month-to-month,29.85,29.85,No,0.0,0.0,1.0,0.0,1.0,0.0
1,1,0,0,0,1,Yes,No,Yes,No,No,...,One year,56.95,1889.50,No,0.0,1.0,0.0,0.0,1.0,0.0
2,1,0,0,0,1,Yes,Yes,No,No,No,...,Month-to-month,53.85,108.15,Yes,0.0,1.0,0.0,0.0,1.0,0.0
3,1,0,0,0,0,Yes,No,Yes,Yes,No,...,One year,42.30,1840.75,No,0.0,0.0,1.0,0.0,1.0,0.0
4,0,0,0,0,1,No,No,No,No,No,...,Month-to-month,70.70,151.65,Yes,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,0,1,1,1,Yes,No,Yes,Yes,Yes,...,One year,84.80,1990.50,No,1.0,0.0,0.0,0.0,1.0,0.0
7028,0,0,1,1,1,No,Yes,Yes,No,Yes,...,One year,103.20,7362.90,No,1.0,0.0,0.0,1.0,0.0,0.0
7029,0,0,1,1,0,Yes,No,No,No,No,...,Month-to-month,29.60,346.45,No,0.0,0.0,1.0,0.0,1.0,0.0
7030,1,1,1,0,1,No,No,No,No,No,...,Month-to-month,74.40,306.60,Yes,1.0,0.0,0.0,1.0,0.0,0.0
7031,1,0,0,0,1,Yes,No,Yes,Yes,Yes,...,Two year,105.65,6844.50,No,0.0,1.0,0.0,1.0,0.0,0.0

In [19]:
df["OnlineSecurity"].value_counts()
#چک کردن برای تنوع داده ها

No                     3497
Yes                    2015
No internet service    1520
Name: OnlineSecurity, dtype: int64

In [20]:
df.loc[df["OnlineSecurity"] == "Yes", "OSy"] = 1
df.loc[df["OnlineSecurity"] == "No", "OSn"] = 1
df.loc[df["OnlineSecurity"] == "No internet service", "OSno_i"] = 1

df['OSno_i'].fillna(0,inplace=True)
df['OSn'].fillna(0,inplace=True)
df['OSy'].fillna(0,inplace=True)

df.drop("OnlineSecurity" , axis=1 , inplace=True)
df
#تبدیل داده غیر عددی به عددی

,gender,SeniorCitizen,Partner,Dependents,PhoneService,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,...,Churn,MLyes,MLno,MLno_phone,ISfiber,ISd,ISno,OSy,OSn,OSno_i
0,0,0,1,0,0,Yes,No,No,No,No,...,No,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1,1,0,0,0,1,No,Yes,No,No,No,...,No,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,1,0,0,0,1,Yes,No,No,No,No,...,Yes,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,1,0,0,0,0,No,Yes,Yes,No,No,...,No,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
4,0,0,0,0,1,No,No,No,No,No,...,Yes,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,0,1,1,1,No,Yes,Yes,Yes,Yes,...,No,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
7028,0,0,1,1,1,Yes,Yes,No,Yes,Yes,...,No,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7029,0,0,1,1,0,No,No,No,No,No,...,No,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
7030,1,1,1,0,1,No,No,No,No,No,...,Yes,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7031,1,0,0,0,1,No,Yes,Yes,Yes,Yes,...,No,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [21]:
df["OnlineBackup"].value_counts()

No                     3087
Yes                    2425
No internet service    1520
Name: OnlineBackup, dtype: int64

In [22]:
df.loc[df["OnlineBackup"] == "Yes", "OBy"] = 1
df.loc[df["OnlineBackup"] == "No", "OBn"] = 1
df.loc[df["OnlineBackup"] == "No internet service", "OBno_i"] = 1

df['OBno_i'].fillna(0,inplace=True)
df['OBn'].fillna(0,inplace=True)
df['OBy'].fillna(0,inplace=True)

df.drop("OnlineBackup" , axis=1 , inplace=True)
df
#تبدیل داده غیر عددی به عددی

,gender,SeniorCitizen,Partner,Dependents,PhoneService,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,...,MLno_phone,ISfiber,ISd,ISno,OSy,OSn,OSno_i,OBy,OBn,OBno_i
0,0,0,1,0,0,No,No,No,No,Month-to-month,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,1,0,0,0,1,Yes,No,No,No,One year,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,1,0,0,0,1,No,No,No,No,Month-to-month,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,1,0,0,0,0,Yes,Yes,No,No,One year,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0,0,0,0,1,No,No,No,No,Month-to-month,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,0,1,1,1,Yes,Yes,Yes,Yes,One year,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7028,0,0,1,1,1,Yes,No,Yes,Yes,One year,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
7029,0,0,1,1,0,No,No,No,No,Month-to-month,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7030,1,1,1,0,1,No,No,No,No,Month-to-month,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
7031,1,0,0,0,1,Yes,Yes,Yes,Yes,Two year,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [23]:
df["DeviceProtection"].value_counts()

No                     3094
Yes                    2418
No internet service    1520
Name: DeviceProtection, dtype: int64

In [24]:
df.loc[df["DeviceProtection"] == "Yes", "DPy"] = 1
df.loc[df["DeviceProtection"] == "No", "DPn"] = 1
df.loc[df["DeviceProtection"] == "No internet service", "DPno_i"] = 1

df['DPy'].fillna(0,inplace=True)
df['DPn'].fillna(0,inplace=True)
df['DPno_i'].fillna(0,inplace=True)

df.drop("DeviceProtection" , axis=1 , inplace=True)
df
#تبدیل داده غیر عددی به عددی

,gender,SeniorCitizen,Partner,Dependents,PhoneService,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,...,ISno,OSy,OSn,OSno_i,OBy,OBn,OBno_i,DPy,DPn,DPno_i
0,0,0,1,0,0,No,No,No,Month-to-month,29.85,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1,0,0,0,1,No,No,No,One year,56.95,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,1,0,0,0,1,No,No,No,Month-to-month,53.85,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,1,0,0,0,0,Yes,No,No,One year,42.30,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,0,0,0,0,1,No,No,No,Month-to-month,70.70,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,0,1,1,1,Yes,Yes,Yes,One year,84.80,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
7028,0,0,1,1,1,No,Yes,Yes,One year,103.20,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
7029,0,0,1,1,0,No,No,No,Month-to-month,29.60,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
7030,1,1,1,0,1,No,No,No,Month-to-month,74.40,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
7031,1,0,0,0,1,Yes,Yes,Yes,Two year,105.65,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gender           7032 non-null   object
 1   SeniorCitizen    7032 non-null   int64
 2   Partner          7032 non-null   object
 3   Dependents       7032 non-null   object
 4   PhoneService     7032 non-null   object
 5   TechSupport      7032 non-null   object
 6   StreamingTV      7032 non-null   object
 7   StreamingMovies  7032 non-null   object
 8   Contract         7032 non-null   object
 9   MonthlyCharges   7032 non-null   float64
 10  TotalCharges     7032 non-null   float64
 11  Churn            7032 non-null   object
 12  MLyes            7032 non-null   float64
 13  MLno             7032 non-null   float64
 14  MLno_phone       7032 non-null   float64
 15  ISfiber          7032 non-null   float64
 16  ISd              7032 non-null   float64
 17  ISno             7032 non-null   float64
 18  OSy              7032 non-null   float64
 19  OSn              7032 non-null   float64
 20  OSno_i           7032 non-null   float64
 21  OBy              7032 non-null   float64
 22  OBn              7032 non-null   float64
 23  OBno_i           7032 non-null   float64
 24  DPy              7032 non-null   float64
 25  DPn              7032 non-null   float64
 26  DPno_i           7032 non-null   float64
dtypes: float64(17), int64(1), object(9)
memory usage: 1.4+ MB

In [26]:
df["TechSupport"].value_counts()

No                     3472
Yes                    2040
No internet service    1520
Name: TechSupport, dtype: int64

In [27]:
df.loc[df["TechSupport"] == "Yes", "TSy"] = 1
df.loc[df["TechSupport"] == "No", "TSn"] = 1
df.loc[df["TechSupport"] == "No internet service", "TSno_i"] = 1

df['TSy'].fillna(0,inplace=True)
df['TSn'].fillna(0,inplace=True)
df['TSno_i'].fillna(0,inplace=True)

df.drop("TechSupport" , axis=1 , inplace=True)
df
#تبدیل داده غیر عددی به عددی

,gender,SeniorCitizen,Partner,Dependents,PhoneService,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,...,OSno_i,OBy,OBn,OBno_i,DPy,DPn,DPno_i,TSy,TSn,TSno_i
0,0,0,1,0,0,No,No,Month-to-month,29.85,29.85,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,1,0,0,0,1,No,No,One year,56.95,1889.50,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,1,0,0,0,1,No,No,Month-to-month,53.85,108.15,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1,0,0,0,0,No,No,One year,42.30,1840.75,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0,0,0,0,1,No,No,Month-to-month,70.70,151.65,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,0,1,1,1,Yes,Yes,One year,84.80,1990.50,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
7028,0,0,1,1,1,Yes,Yes,One year,103.20,7362.90,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7029,0,0,1,1,0,No,No,Month-to-month,29.60,346.45,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
7030,1,1,1,0,1,No,No,Month-to-month,74.40,306.60,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
7031,1,0,0,0,1,Yes,Yes,Two year,105.65,6844.50,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [28]:
df["StreamingTV"].value_counts()

No                     2809
Yes                    2703
No internet service    1520
Name: StreamingTV, dtype: int64

In [29]:
df.loc[df["StreamingTV"] == "Yes", "STy"] = 1
df.loc[df["StreamingTV"] == "No", "STn"] = 1
df.loc[df["StreamingTV"] == "No internet service", "STno_i"] = 1

df['STy'].fillna(0,inplace=True)
df['STn'].fillna(0,inplace=True)
df['STno_i'].fillna(0,inplace=True)

df.drop("StreamingTV" , axis=1 , inplace=True)
df
#تبدیل داده غیر عددی به عددی

,gender,SeniorCitizen,Partner,Dependents,PhoneService,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn,...,OBno_i,DPy,DPn,DPno_i,TSy,TSn,TSno_i,STy,STn,STno_i
0,0,0,1,0,0,No,Month-to-month,29.85,29.85,No,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,1,0,0,0,1,No,One year,56.95,1889.50,No,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,1,0,0,0,1,No,Month-to-month,53.85,108.15,Yes,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1,0,0,0,0,No,One year,42.30,1840.75,No,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0,0,0,0,1,No,Month-to-month,70.70,151.65,Yes,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,0,1,1,1,Yes,One year,84.80,1990.50,No,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
7028,0,0,1,1,1,Yes,One year,103.20,7362.90,No,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
7029,0,0,1,1,0,No,Month-to-month,29.60,346.45,No,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
7030,1,1,1,0,1,No,Month-to-month,74.40,306.60,Yes,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
7031,1,0,0,0,1,Yes,Two year,105.65,6844.50,No,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [30]:
df["StreamingMovies"].value_counts()

No                     2781
Yes                    2731
No internet service    1520
Name: StreamingMovies, dtype: int64

In [31]:
df.loc[df["StreamingMovies"] == "Yes", "SMy"] = 1
df.loc[df["StreamingMovies"] == "No", "SMn"] = 1
df.loc[df["StreamingMovies"] == "No internet service", "SMno_i"] = 1

df['SMy'].fillna(0,inplace=True)
df['SMn'].fillna(0,inplace=True)
df['SMno_i'].fillna(0,inplace=True)

df.drop("StreamingMovies" , axis=1 , inplace=True)
df
#تبدیل داده غیر عددی به عددی

,gender,SeniorCitizen,Partner,Dependents,PhoneService,Contract,MonthlyCharges,TotalCharges,Churn,MLyes,...,DPno_i,TSy,TSn,TSno_i,STy,STn,STno_i,SMy,SMn,SMno_i
0,0,0,1,0,0,Month-to-month,29.85,29.85,No,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,1,0,0,0,1,One year,56.95,1889.50,No,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,1,0,0,0,1,Month-to-month,53.85,108.15,Yes,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1,0,0,0,0,One year,42.30,1840.75,No,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0,0,0,0,1,Month-to-month,70.70,151.65,Yes,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,0,1,1,1,One year,84.80,1990.50,No,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
7028,0,0,1,1,1,One year,103.20,7362.90,No,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
7029,0,0,1,1,0,Month-to-month,29.60,346.45,No,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
7030,1,1,1,0,1,Month-to-month,74.40,306.60,Yes,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
7031,1,0,0,0,1,Two year,105.65,6844.50,No,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [32]:
df["Contract"].value_counts()

Month-to-month    3875
Two year          1685
One year          1472
Name: Contract, dtype: int64

In [33]:
df.loc[df["Contract"] == "Month-to-month", "C_month"] = 1
df.loc[df["Contract"] == "Two year", "C_2year"] = 1
df.loc[df["Contract"] == "One year", "C_1year"] = 1

df['C_month'].fillna(0,inplace=True)
df['C_2year'].fillna(0,inplace=True)
df['C_1year'].fillna(0,inplace=True)

df.drop("Contract" , axis=1 , inplace=True)
df
#تبدیل داده غیر عددی به عددی

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MonthlyCharges,TotalCharges,Churn,MLyes,MLno,...,TSno_i,STy,STn,STno_i,SMy,SMn,SMno_i,C_month,C_2year,C_1year
0,0,0,1,0,0,29.85,29.85,No,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,1,0,0,0,1,56.95,1889.50,No,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,1,0,0,0,1,53.85,108.15,Yes,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,1,0,0,0,0,42.30,1840.75,No,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0,0,0,0,1,70.70,151.65,Yes,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,0,1,1,1,84.80,1990.50,No,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
7028,0,0,1,1,1,103.20,7362.90,No,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
7029,0,0,1,1,0,29.60,346.45,No,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
7030,1,1,1,0,1,74.40,306.60,Yes,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
7031,1,0,0,0,1,105.65,6844.50,No,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [34]:
df.dtypes

gender             object
SeniorCitizen       int64
Partner            object
Dependents         object
PhoneService       object
MonthlyCharges    float64
TotalCharges      float64
Churn              object
MLyes             float64
MLno              float64
MLno_phone        float64
ISfiber           float64
ISd               float64
ISno              float64
OSy               float64
OSn               float64
OSno_i            float64
OBy               float64
OBn               float64
OBno_i            float64
DPy               float64
DPn               float64
DPno_i            float64
TSy               float64
TSn               float64
TSno_i            float64
STy               float64
STn               float64
STno_i            float64
SMy               float64
SMn               float64
SMno_i            float64
C_month           float64
C_2year           float64
C_1year           float64
dtype: object

In [35]:
df['gender'] = df['gender'].astype(int)
df['Partner'] = df['Partner'].astype(int)
df['Dependents'] = df['Dependents'].astype(int)
df['PhoneService'] = df['PhoneService'].astype(int)

df.dtypes
#تبدیل تایپ دیتا ها اینت

gender              int32
SeniorCitizen       int64
Partner             int32
Dependents          int32
PhoneService        int32
MonthlyCharges    float64
TotalCharges      float64
Churn              object
MLyes             float64
MLno              float64
MLno_phone        float64
ISfiber           float64
ISd               float64
ISno              float64
OSy               float64
OSn               float64
OSno_i            float64
OBy               float64
OBn               float64
OBno_i            float64
DPy               float64
DPn               float64
DPno_i            float64
TSy               float64
TSn               float64
TSno_i            float64
STy               float64
STn               float64
STno_i            float64
SMy               float64
SMn               float64
SMno_i            float64
C_month           float64
C_2year           float64
C_1year           float64
dtype: object

In [36]:
df[df.duplicated()]

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MonthlyCharges,TotalCharges,Churn,MLyes,MLno,...,TSno_i,STy,STn,STno_i,SMy,SMn,SMno_i,C_month,C_2year,C_1year
100,1,0,0,0,1,20.20,20.20,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
770,0,0,0,0,1,19.90,19.90,Yes,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
883,1,0,0,0,1,20.05,20.05,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
961,1,0,0,0,1,45.70,45.70,Yes,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
984,1,0,0,0,1,19.75,19.75,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
1334,1,0,0,0,1,20.15,20.15,Yes,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
1486,0,0,0,0,1,19.55,19.55,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
1734,1,0,0,0,1,69.90,69.90,Yes,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1927,1,0,0,0,1,20.20,20.20,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
2116,1,0,0,0,1,20.45,20.45,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
2708,1,0,0,0,1,20.45,20.45,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
2882,1,0,0,0,1,45.05,45.05,Yes,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2887,1,0,0,0,1,20.45,20.45,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
2953,0,0,0,0,1,19.55,19.55,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
2990,0,0,0,0,0,25.25,25.25,No,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3133,0,0,0,0,1,45.30,45.30,Yes,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3296,0,1,0,0,1,69.60,69.60,Yes,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3308,1,0,0,0,1,19.20,19.20,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
3512,1,0,0,0,1,19.45,19.45,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
3568,0,0,0,0,1,20.35,20.35,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
3673,1,0,0,0,1,20.10,20.10,Yes,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
3748,1,0,0,0,1,20.05,20.05,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
3845,1,0,0,0,1,19.65,19.65,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
4091,1,0,0,0,1,20.20,20.20,Yes,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
4149,1,0,0,0,1,19.75,19.75,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
4165,0,0,0,0,1,19.50,19.50,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
4468,0,0,0,0,1,20.90,20.90,Yes,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
4483,1,0,0,0,1,19.75,19.75,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
4776,0,0,0,0,1,19.55,19.55,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
4809,0,0,0,0,1,19.90,19.90,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
5127,0,0,0,0,1,19.75,19.75,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
5497,1,0,0,0,1,20.20,20.20,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
5606,1,0,0,0,1,20.20,20.20,Yes,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
5696,1,0,0,0,1,19.65,19.65,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
5727,1,0,0,0,1,20.05,20.05,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
5750,0,0,0,0,1,70.15,70.15,Yes,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
5899,1,0,0,0,1,20.20,20.20,Yes,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
6161,0,0,0,0,1,19.40,19.40,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
6258,0,0,0,0,1,70.10,70.10,Yes,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
6329,1,0,0,0,1,20.25,20.25,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
6490,1,0,0,0,1,20.30,20.30,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
6509,1,0,0,0,1,45.30,45.30,Yes,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
6527,1,0,0,0,0,24.40,24.40,No,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
6600,1,0,0,0,1,20.10,20.10,Yes,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
6696,0,0,0,0,1,19.90,19.90,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
6753,0,0,0,0,1,69.20,69.20,Yes,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
6763,0,0,0,0,1,19.65,19.65,No,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
6778,0,0,0,0,1,20.20,20.20,Yes,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
6913,1,0,0,0,1,69.35,69.35,Yes,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [37]:
df.drop_duplicates(inplace = True)
df
#حذف داده های تکراری

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MonthlyCharges,TotalCharges,Churn,MLyes,MLno,...,TSno_i,STy,STn,STno_i,SMy,SMn,SMno_i,C_month,C_2year,C_1year
0,0,0,1,0,0,29.85,29.85,No,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,1,0,0,0,1,56.95,1889.50,No,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,1,0,0,0,1,53.85,108.15,Yes,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,1,0,0,0,0,42.30,1840.75,No,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0,0,0,0,1,70.70,151.65,Yes,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,0,1,1,1,84.80,1990.50,No,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
7028,0,0,1,1,1,103.20,7362.90,No,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
7029,0,0,1,1,0,29.60,346.45,No,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
7030,1,1,1,0,1,74.40,306.60,Yes,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
7031,1,0,0,0,1,105.65,6844.50,No,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [38]:
df.loc[df["Churn"] == "Yes" , "Churn"]=1
df.loc[df["Churn"] == "No" , "Churn"]=0
df['Churn'] = df['Churn'].astype(int)
df

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MonthlyCharges,TotalCharges,Churn,MLyes,MLno,...,TSno_i,STy,STn,STno_i,SMy,SMn,SMno_i,C_month,C_2year,C_1year
0,0,0,1,0,0,29.85,29.85,0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,1,0,0,0,1,56.95,1889.50,0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,1,0,0,0,1,53.85,108.15,1,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,1,0,0,0,0,42.30,1840.75,0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0,0,0,0,1,70.70,151.65,1,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,0,1,1,1,84.80,1990.50,0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
7028,0,0,1,1,1,103.20,7362.90,0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
7029,0,0,1,1,0,29.60,346.45,0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
7030,1,1,1,0,1,74.40,306.60,1,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
7031,1,0,0,0,1,105.65,6844.50,0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [39]:
Q1 = df['MonthlyCharges'].quantile(.25)
Q3 = df['MonthlyCharges'].quantile(.75)

IQR = Q3 - Q1

U = df['MonthlyCharges'] > Q3 + (1.5*IQR)
L = df['MonthlyCharges'] < Q1 - (1.5*IQR)

outlier_U = df.loc[U, 'MonthlyCharges']
outlier_L = df.loc[L, 'MonthlyCharges']

In [40]:
print(len(outlier_U),len(outlier_L))
#بررسی باکس پلات برای ستونی که احتمال دارد داده پرت داشته باشد

0 0

In [41]:
Q1 = df['TotalCharges'].quantile(.25)
Q3 = df['TotalCharges'].quantile(.75)

IQR = Q3 - Q1

U = df['TotalCharges'] > Q3 + (1.5*IQR)
L = df['TotalCharges'] < Q1 - (1.5*IQR)

outlier_U = df.loc[U, 'TotalCharges']
outlier_L = df.loc[L, 'TotalCharges']

In [42]:
print(len(outlier_U),len(outlier_L))
#بررسی باکس پلات برای ستونی که احتمال دارد داده پرت داشته باشد

0 0

In [43]:
x = df.drop("Churn", axis =1)
y = df["Churn"]

#جدا سازی هدف و بیقه اطلاعات

In [44]:
from sklearn.model_selection import train_test_split

Xtrain, Xtest, Ytrain, Ytest = train_test_split(x , y , test_size = 0.25, random_state=32)

print(Xtrain.shape)
print(Xtest.shape)

print(Ytrain.shape)
print(Ytest.shape)

#جدا سازی داده های تست و یادگیری

(5237, 34)
(1746, 34)
(5237,)
(1746,)

In [45]:
from sklearn.tree import DecisionTreeClassifier

DT = DecisionTreeClassifier()

DT.fit(Xtrain, Ytrain)
#روی چه دیتایی فیت بشه

pred = DT.predict(Xtest) #validation


#یاد دادن

In [46]:
(pred == Ytest).mean()
#

0.7124856815578465

In [47]:
from sklearn.model_selection import GridSearchCV
#زدن گرید سرچ برای به دست آوردن بهترین حالت در درخت تصمیم گیری

DT = DecisionTreeClassifier()

param = {'criterion':['gini', 'entropy'] ,
         'max_depth':[3,4,5,6,7,8] ,
         'min_samples_split':[3,4,5,6] ,
         'min_samples_leaf':[2,3,4],
         'random_state':[32,23,17,13]}

GS = GridSearchCV(DT, param ,cv = 10, scoring = "f1", )
#داده های بالانس نداریم

GS.fit(x, y)


GS.best_score_

0.5720099259204696

In [48]:

GS.best_params_
#این گریدی سرچ بهترین نتیجش رو بهم بده
#بهترین نتیجه پارامتر هارو بهت میده

{'criterion': 'entropy',
 'max_depth': 6,
 'min_samples_leaf': 4,
 'min_samples_split': 3,
 'random_state': 32}

In [49]:
DT = DecisionTreeClassifier(criterion = "entropy", max_depth = 6,min_samples_split = 3, min_samples_leaf = 4, random_state = 32)

In [50]:
DT.fit(Xtrain, Ytrain)
#روی چه دیتایی فیت بشه

pred = DT.predict(Xtest)

(pred == Ytest).mean()

0.779495990836197

In [51]:
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, confusion_matrix
#Metrics:
acc = accuracy_score(Ytest, pred)
#برای وقتی هست که داده ها متوازن باشن
#مثل دیتاست گل ها که همگی متوازن بودن

rec = recall_score(Ytest, pred)

pre = precision_score(Ytest, pred)

fm = f1_score(Ytest, pred)

conf = confusion_matrix(Ytest, pred)

# tn - fp
# fn - tp

print(acc, rec, pre, fm)
print(conf)

0.779495990836197 0.48497854077253216 0.6091644204851752 0.5400238948626045
[[1135  145]
 [ 240  226]]

In [61]:
from sklearn.model_selection import cross_val_predict, cross_val_score

DT = DecisionTreeClassifier(criterion = "entropy", max_depth = 6,min_samples_split = 3,min_samples_leaf = 4,
                            class_weight = {0:0.3 , 1:0.7}, random_state =32)

acc = cross_val_score(DT, x , y , cv = 10, scoring = 'accuracy')
print(acc)
print("------------------------------------------------")
rec = cross_val_score(DT, x , y , cv = 10, scoring = 'recall')
print(rec)
print("------------------------------------------------")
pre = cross_val_score(DT, x , y , cv = 10, scoring = 'precision')
print(pre)
print("------------------------------------------------")
fm = cross_val_score(DT, x , y , cv = 10, scoring = 'f1')
print(fm)
print("------------------------------------------------")

print(acc.mean(), rec.mean(), pre.mean(), fm.mean())
#استفاده از کراس ولیدیشن

[0.74248927 0.73819742 0.78111588 0.75931232 0.74068768 0.72492837
 0.72636103 0.75931232 0.78223496 0.75644699]
------------------------------------------------
[0.82162162 0.8        0.72432432 0.81621622 0.76216216 0.72972973
 0.79459459 0.71891892 0.68648649 0.72432432]
------------------------------------------------
[0.5083612  0.50340136 0.56779661 0.52982456 0.50719424 0.48736462
 0.49       0.53413655 0.57466063 0.52964427]
------------------------------------------------
[0.62809917 0.61795407 0.63657957 0.64255319 0.60907127 0.58441558
 0.60618557 0.61290323 0.62561576 0.61187215]
------------------------------------------------
0.7511086242729073 0.7578378378378379 0.5232384050117146 0.6175249569666769

In [63]:
"-------------------------------------------------------------"

'-------------------------------------------------------------'

In [64]:
from sklearn.naive_bayes import BernoulliNB, GaussianNB , MultinomialNB

#نایو بیز توزیع گائوسین
GNB = GaussianNB()
GNB_scores = cross_val_score(GNB, x , y , cv =10 , scoring = 'accuracy')
print(GNB_scores.mean())
print("-------------------------------")
#نایو بیز توزیع چند جمله ای
MNB = MultinomialNB()
MNB_scores = cross_val_score(MNB, x , y , cv =10 , scoring = 'accuracy')
print(MNB_scores.mean())
print("-------------------------------")
#نایو بیز توزیع برنولی
BNB = BernoulliNB()
BNB_scores = cross_val_score(BNB, x , y , cv =10 , scoring = 'accuracy')
print(BNB_scores.mean())

0.6777873425401004
-------------------------------
0.6757822267586524
-------------------------------
0.7111544941402167

In [66]:
"-------------------------------------------------------------"

'-------------------------------------------------------------'

In [65]:
from sklearn.neighbors import KNeighborsClassifier
#استفاده از KNN

KNN = KNeighborsClassifier(n_neighbors = 7, weights = "distance") 
KNN_scores = cross_val_score(KNN, x , y , cv =10 , scoring = 'accuracy')
KNN_scores.mean()

0.7628476620304897